body {
    height: 100%;
    margin: 0;
    background-color: aliceblue;
    color: rgb(92, 99, 105);
    font-family: 'Courier New', Courier, monospace;
}

#main {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: rgb(172, 188, 202);
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

#topH {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#bottomH {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#ui {
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcMain {
    background-color: aliceblue;
    border: 3px, solid, rgb(172, 188, 202);
    border-radius: 15px;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calcDisplay {
    background-color: aliceblue;
    border: 3px, solid, rgb(172, 188, 202);
    border-radius: 15px;
    height: 70px;
    width: 300px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcBtns {
    background-color: aliceblue;
    height: 350px;
    width: 300px;
    margin-top: 16px;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: aliceblue;
    border: 3px, solid, rgb(172, 188, 202);
    border-radius: 15px;
    width: 55px;
    height: 50px;
}

#footer {
    background-color: rgb(172, 188, 202);
    height: 44px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftF {
    margin: 0 auto;
    font-size: 20px;
}

#rightF {
    margin: 0 auto;
}

.hoverImg {
    background-color: rgb(172, 188, 202);
    height: 40px;
}